container_commands:
  001_delete_leader_election_file:
    command: |
      echo "Deleting beanstalk default leader election file"
      rm -f /tmp/is_leader
    ignoreErrors: true
  002_set_flag_if_instance_is_leader:
    command: |
      echo "Starting leader election by tags using beanstalk default solution"
      echo "This creates a file /tmp/is_leader if instance is leader"
      touch /tmp/is_leader  # create empty file if instance is leader
      echo "Beanstalk default leader election done. Instance is leader, leader file created"
    leader_only: true
#  003_leader_election_by_tags:
#    command: |
#      echo "Starting leader election by tags using custom solution"
#      echo "This creates a file /tmp/leader_elected if instance is leader by tags"
#      .platform/scripts/ec2-instance-leader-election.sh