container_commands:
  01_artisan_migrate:
    command: php artisan migrate --force
    leader_only: true
  02_artisan_seed:
    command: php artisan db:seed --force
    leader_only: true
  03_artisan_optimize:
    command: php artisan optimize
  04_artisan_route_trans_cache:
    command: php artisan route:trans:cache
  05_artisan_config_cache:
    command: php artisan config:cache
  06_artisan_config_clear:
    command: php artisan config:clear
  07_artisan_cache_clear:
    command: php artisan cache:clear
  08_artisan_optimize_clear:
    command: php artisan optimize:clear
  09_npm_install:
    command: sudo npm install
  10_npm_run_build:
    command: sudo npm run build

# root export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
# create super admin: artisan create-admin {first_name} {last_name} {email} {password}
