commands:
  01_node_install:
    command: |
      curl --silent --location https://rpm.nodesource.com/setup_16.x | bash -
      sudo yum -y install nodejs
    test: "! command -v node > /dev/null"
  02_yarn_install:
    command: |
      curl -sL https://dl.yarnpkg.com/rpm/yarn.repo -o /etc/yum.repos.d/yarn.repo
      sudo yum install -y yarn;
    test: "! command -v yarn > /dev/null"