commands:
  01_pip_install:
    command: sudo yum install -y python3-pip
  02_supervisor_install:
    command: sudo pip install --no-input supervisor
#    command: runuser -l webapp -c 'pip install --no-input supervisor'
  03_install_php_packages:
    command: sudo dnf install php-devel php-pear libzip libzip-devel -y
  04_install_php_zip:
    command: sudo pecl install zip
    ignoreErrors: true

files:
  "/etc/supervisord.d/laravel-worker.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:laravel-worker]
      process_name=%(program_name)s_%(process_num)02d
      command=/var/app/current/artisan queue:work database --tries=5 --max-time=3600 --timeout=20 --max-jobs=10 --memory=128
      autostart=true
      autorestart=true
      user=webapp
      numprocs=10
      stopwaitsecs=10
      stopasgroup=true
      killasgroup=true
      redirect_stderr=true
      stdout_logfile=/var/log/laravel-worker.log
  
  "/etc/supervisor/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=false
      logfile=/var/log/supervisord.log
      
      [supervisorctl]

      [inet_http_server]
      port = 127.0.0.1:9001

      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

      [include]
      files = /etc/supervisord.d/laravel-worker.conf

