files:
    "/etc/cron.d/laravel-cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            #~ MAGENTO START 
            #~ Add more specific magento cron jobs 
            #~ This article gives more info on Magento cron jobs: https://www.nexcess.net/blog/magento-cron/
            * * * * * webapp /bin/php /var/app/current/artisan schedule:run >> /dev/null 2>&1
            #~ MAGENTO END
        leader_only: true

container_commands:
  01_remove_old_cron:
    command: "rm -f /etc/cron.d/laravel-cron.bak"
  # check if /tmp/is_leader does not exist
  # if it does, then this is the leader instance
  # this is a workaround for the fact that leader_only is not working sometimes
  # check .ebextensions/01-leader-election.config
  02_delete_cron_if_not_leader_instance:
    command: "rm -f /etc/cron.d/laravel-cron"
    test: "[ ! -f /tmp/is_leader ]"
